<div class="container-fluid" id="main_blog">

	<div class="container">

		<div class="card-deck" id="card-deck">

			<div class="card">
  						
    			<img class="card-img-top" src="./assets/img/blog_img1.JPG" height="180px">
   						 	
   				<div class="card-body">
      						
      			<h5 class="card-title"> Tirol, Austria </h5>

      			<p class="card-text">blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol blog entry Tirol</p><p class="trip_info"> Date: September 14-24, 2019 </p>

      			</div>
	
      		</div>

      		<div class="card">
  						
    			<img class="card-img-top" src="./assets/img/blog_img2.JPG" height="180px">
   						 	
   				<div class="card-body">
      						
      			<h5 class="card-title"> York, England </h5>

      			<p class="card-text">blog entry York blog entry York  blog entry York blog entry York blog entry York blog entry York blog entry York blog entry York blog entry York blog entry York blog entry York blog entry York blog entry York blog entry York blog entry York blog entry York blog entry York blog entry York blog entry York blog entry York blog entry York </p><p class="trip_info"> February 12-20, 2020 </p>

      			</div>
	
      		</div>

      		<div class="card">
  						
    			<img class="card-img-top" src="./assets/img/blog_img3.jpg" height="180px">
   						 	
   				<div class="card-body">
      						
      			<h5 class="card-title"> Mallorca, Spain </h5>

      			<p class="card-text">blog entry Mallorca blog entry Mallorca blog entry Mallorca blog entry Mallorca blog entry Mallorca blog entry Mallorca blog entry Mallorca blog entry Mallorca blog entry Mallorca blog entry Mallorca blog entry Mallorca blog entry Mallorca blog entry Mallorca blog entry Mallorca blog entry Mallorca blog entry Mallorca  </p><p class="trip_info"> Date: March 1-7, 2020 </p>

      			</div>
	
      		</div>

      	</div>

	</div>

</div>